.page-layout {

    display:flex;

    flex-direction:column;

    gap:24px;

}

.page-layout__filters{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:16px;

    flex-wrap:wrap;

}

.page-layout__content{

    display:flex;

    flex-direction:column;

    gap:24px;

}