:root {

  /* Tipografías */

  --font-heading: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;

  /* Colores principales */

  --primary: #FEFA00;

  --success: #22C55E;
  --danger: #EF4444;
  --warning: #F59E0B;

  /* Bordes */

  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 24px;

  /* Espaciado */

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 3rem;

  /* Transiciones */

  --transition: 220ms ease;

}

/* Tema Claro */

:root {

  --bg: #FAFAFA;
  --surface: #FFFFFF;
  --surface-hover: #F5F5F5;

  --border: #E5E7EB;

  --text: #111827;
  --text-secondary: #6B7280;

}

/* Tema Oscuro */

@media (prefers-color-scheme: dark) {

  :root {

    --bg: #09090B;

    --surface: #151518;

    --surface-hover: #1D1D22;

    --border: #2E2E35;

    --text: #F5F5F5;

    --text-secondary: #A1A1AA;

  }

}