/* ==========================================================
   GOOGLE FONTS
========================================================== */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

/* ==========================================================
   RESET
========================================================== */

*,
*::before,
*::after{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

/* ==========================================================
   DOCUMENTO
========================================================== */

html{

    scroll-behavior:smooth;


}

body{

    min-height:100vh;

    overflow-x:hidden;

    background:var(--color-background);

    color:var(--color-text);

    font-family:"Inter",sans-serif;

    line-height:1.5;

    transition:
        background .35s ease,
        color .35s ease;

    -webkit-font-smoothing:antialiased;

    -moz-osx-font-smoothing:grayscale;

    text-rendering:optimizeLegibility;

}

/* ==========================================================
   ROOT
========================================================== */

#root{

    min-height:100vh;

}

/* ==========================================================
   ELEMENTOS
========================================================== */

img{

    display:block;

    max-width:100%;

    height:auto;

}

picture{

    display:block;

}

button{

    border:none;

    background:none;

    cursor:pointer;

    font-family:inherit;

    color:inherit;

}

input,
textarea,
select{

    font:inherit;

    color:inherit;

}

a{

    color:inherit;

    text-decoration:none;

    transition:
        color .25s ease;

}

ul,
ol{

    list-style:none;

}

/* ==========================================================
   SELECCIÓN
========================================================== */

::selection{

    background:var(--color-primary);

    color:#000;

}

/* ==========================================================
   FOCUS
========================================================== */

:focus-visible{

    outline:2px solid var(--color-primary);

    outline-offset:3px;

}

/* ==========================================================
   SCROLLBAR
========================================================== */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:var(--color-surface);

}

::-webkit-scrollbar-thumb{

    background:var(--color-border);

    border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

    background:var(--color-text-light);

}