/* =====================================
   RESET
===================================== */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--color-background);

    color:var(--color-text);

    font-family:"Inter",sans-serif;

    transition:
        background .35s ease,
        color .35s ease;

    -webkit-font-smoothing:antialiased;

    text-rendering:optimizeLegibility;

}

img{

    display:block;

    max-width:100%;

}

button{

    border:none;

    background:none;

    cursor:pointer;

    font-family:inherit;

}

a{

    color:inherit;

    text-decoration:none;

}

ul{

    list-style:none;

}